<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Flight Report</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p>Dear Customer <span th:text="${name}"></span>, </p>

<p>
    New Journals were added in  <span th:text="${#dates.format(publishDate)}">2012/12/01</span><br />
    <ul>
        <li th:each="item : ${journalsList}" th:text="${item}">Item description</li>
    </ul>


</p>
<p>
    Regards, <br />
    <em>Medical Journal Team</em>
</p>
</body>
</html>