<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Flight Report</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<p>Dear Customer <span th:text="${name}"></span>, </p>

<p>
    A New Journal was added to the category <span th:text="${categoryName}">CategoryName</span><br/>
    Journal Name: <span th:text="${journalName}">Journal Name</span><br/>

</p>
<p>
    Regards, <br/>
    <em>Medical Journal Team</em>
</p>
</body>
</html>